body{
    background-color: rgb(224, 220, 220);
}
#present{
    text-align: center;
    border: 2px solid rgb(7, 7, 7);
    background-color: rgba(15, 34, 116, 0.6);
    padding: 5px;
    margin: -10px;
    font-family: monospace;
    width: 110%;
    
}
.bigger_card1{
    width: 500px;
    border: 1px solid rgb(143, 139, 139);
    float: left;
    margin: 10px 5px;
    padding: 15px;
    height: 350px;
}

#containerb{
    height: 380px;
    width: 8%;
    border: 1px solid rgb(143, 139, 139);
    margin: 0 auto;
    margin-top: 10px;
}

.bigger_card2{
    width: 500px;
    border: 1px solid rgb(143, 139, 139);
    float: right;
    margin: 10px 5px 10px 5px;
    padding: 15px;
    height: 350px;
}

#presentation{
    text-align:justify;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

#container{
    width: 1200px;
    border: 1px solid rgb(143, 139, 139);
    margin: auto;
    height: 400px;

    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between;

}

#conversor{
    margin-top:170px;
    text-align: center;
    align-content: center;
}